<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    <div class="todo-container">
        <h1>Todo List</h1>
        <div class="input-container">
            <form action="/todo" method="post" id="todo-form">
                <input id="task-input" type="text" name="title" placeholder="Enter the Task">
                <button id="add-task-btn" type="submit">Add Task</button>
            </form>           
            
        </div>
        <div class="button-group">
            <button id="delete-all-btn" hx-delete="/delete-all" hx-trigger="click" hx-target="#main-display">Delete All</button>
        </div>
        <div id="main-display">
            <ul>
                <%- include('index.ejs')%>
            </ul>
        </div>
    </div>
</body>
</html>

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link rel="stylesheet" href="/styles.css">
    <script src="https://unpkg.com/htmx.org@1.8.4"></script>
</head>
<body>
    <div class="todo-container">
        <h1>Todo List</h1>
        <div class="input-container">
            <form action="/todo" method="post" id="todo-form">
                <input id="task-input" type="text" name="title" placeholder="Enter the Task">
                <button id="add-task-btn" type="submit">Add Task</button>
            </form>           
        </div>
        <div class="button-group">
            <button id="delete-all-btn" hx-delete="/delete-all" hx-trigger="click" hx-target="#main-display">Delete All</button>
        </div>
        <div id="main-display">
            <ul>
                <% todos.forEach((todo) => { %>
                <li class="todo">
                    <h4><%= todo.title %></h4>
                    <input type="checkbox" id="todo-<%= todo._id %>" <%= todo.complete ? 'checked' : '' %> hx-put="/todo/<%= todo._id %>" hx-target="#main-display">
                    <label for="todo-<%= todo._id %>">Completed</label>
                    <h3 hx-delete="/todo/<%= todo._id %>" hx-target="#main-display">
                        &cross;
                    </h3>
                </li>
                <% }) %>
            </ul>
        </div>
    </div>
</body>
</html> -->
